<footer>
    <div class="f-info border-top">
        <div class="f-info-social">
            <a href="www.linkedin.com/in/manishjha10062"><i class="fa-brands fa-linkedin"></i></a>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
        </div>
        <div> &copy;manish private limited</div>
        <div class="f-info-links">
            <a href="">privacy</a>
            <a href="">terms</a>
        </div>

    </div>
</footer>